<video id="vid" autoplay loop="true" controls width="320" height="264" poster="">
  <source src="assets/video/video.webm" />
	To view this video please enable JavaScript, and consider upgrading to a web browser   
   that <a href="html5-video-support.html" target="_blank">supports HTML5 video</a>  
</video> 

<video controls width="320" height="264" poster="">
  <source src="http://www.w3schools.com/html/movie.mp4" />
   To view this video please enable JavaScript, and consider upgrading to a web browser   
   that <a href="html5-video-support.html" target="_blank">supports HTML5 video</a>  
</video>

  	<div class="row zones">
  		<div class="text-center zone0">
  			<label class="text-primary">DOMÍNIO 1 - Costa leste do nordeste</label><br>
	  		<img class="rounded" src="assets/img/zone0.png">
  		</div>
  		<div class="text-center zone1">
  			<label class="text-warning">DOMÍNIO 2 - Região Metropolitana</label><br>
	  		<img class="rounded" src="assets/img/zone1.png">
  		</div>
	  </div>
	  
	    <!-- Navigation -->
<!--   <nav class="navbar navbar-light bg-light static-top">
    <div class="container mt-2">
    </div>
  </nav> -->

  <!-- Masthead -->
 <!--  <header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
      	<div class="col-xl-6">
          <img class="mb-5 w-50" src="assets/img/logo.png">
          <h4 class="mb-5 text-darkwhite">Laboratório de Micrometereologia e Modelagem</h4>
        </div>
        <div class="col-xl-6">
          <h4 class="mb-5 text-lightdark">Laboratório de Matemática Aplicada e Computacional</h4>
          <img class="mb-5 w-50" src="assets/img/lmac.png">
        </div>
      </div>
    </div>
 	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="#"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item mr-5">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active mr-2">
	        <a class="btn btn-info btn-lg" href="#">Previsão WRF</a>
	      </li>
	      <li class="nav-item active mr-5">
	        <a class="btn btn-primary btn-lg" href="#">Monitoramento</a>
	      </li>
	      <li class="nav-item dropdown float-right">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Quem somos
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="about-labmim.html">LEAL</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="publications.html">Publicações</a>
	          <a class="dropdown-item" href="projects.html">Projetos</a>
	          <a class="dropdown-item" href="#">Equipe</a>
	        </div>
	      </li>
	       <li class="nav-item">
	        <a class="nav-link" href="#">Contato</a>
	      </li>
	    </ul>
	  </div>
	</nav>
  </header> -->