/*!
 * Start Bootstrap - Landing Page v5.0.5 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.text-ligthblue {
  color: #B0E0E6; 
}

.text-lightdark {
  color: #696969;
}

.text-lightsecondary {
  color: #5A5B8C;
}

.text-darkwhite {
  color: #F1F1F1;
}

header.masthead {
  position: relative;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

header.masthead .overlay {
  position: absolute;
  background: rgb(50,136,157);
  background: linear-gradient(133deg, rgba(50,136,157,1) 23%, rgba(69,169,201,1) 35%, rgba(178,231,233,1) 44%, rgba(243,249,255,1) 61%, rgba(255,255,255,1) 84%); 
  height: 346px;
  width: 100%;
  top: 0;
  left: 0;
}


header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-bottom: 5rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1200px) {
  header.masthead h4 {
    font-size: 1rem;
  }

  header.masthead .overlay {
     background: rgb(50,136,157) !important;
     background: linear-gradient(180deg, rgba(50,136,157,1) 23%, rgba(69,169,201,1) 47%, rgba(178,231,233,1) 59%, rgba(243,249,255,1) 68%, rgba(255,255,255,1) 84%) !important;
     height: 500px; 
  }
}

@media (max-width: 768px) {
  header.masthead .overlay {
     background: rgb(50,136,157) !important;
     background: linear-gradient(180deg, rgba(50,136,157,1) 23%, rgba(69,169,201,1) 47%, rgba(178,231,233,1) 59%, rgba(243,249,255,1) 68%, rgba(255,255,255,1) 84%) !important;
     height: 500px; 
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
